body {
  width: 100%;
  background-color: green;
  font-family: 'Candal', sans-serif;
  font-size: 14px;
  margin: 0;
}

header {
  width: 100%;
}

#title-container {
  width: 50%;
  height: 6em;
  float: left;
  text-align: center;
  margin-left: 1em;
  margin-bottom: 40px;
}

#title {
  font-size: 5em;
  color: white;
  display: inline-block;
  margin: 0;
}

#info-display {
  width: 40%;
  float: right;
  text-align: right;
  margin-right: 1em;
  margin-bottom: 40px;
  margin-top: 20px;
  color: white;
  font-size: 3em;
}

#play-button {
  display: inline-block;
  clear: both;
}

#space {
  width: 100%;
  height: 80px;
  clear: both;
}

.score-display {
  width: 21%;
  height: 300px;
  float: left;
  margin: 0 1.8%;
  text-align: center;
  color: white;
}

.score {
  font-size: 3em;
}

#card-container {
  width: 50%;
  height: 740px;
  float: left;
}

.card {
  margin: 5px 1%;
  width: 12.8%;
  border-radius: 5px;
  float: left;
  text-align: center;
}

.back {
  height: 98px;
  background-color: grey;
  border: 6px solid white;
  background-image: url(../assets/q-mark.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.red {
  color: red;
  background-color: white;
  border: 6px solid red;
  font-size: 75px;
}

.blue {
  color: blue;
  background-color: white;
  border: 6px solid blue;
  font-size: 75px;
}
