body {
  width: 100%;
  background-color: green;
  font-family: 'Candal', sans-serif;
  font-size: 14px;
}

header {
  width: 100%;
}

#game-logo {
  width: 10em;
  margin: 3em;
  float: left;
}

#title-container {
  width: 45%;
  height: 10em;
  float: right;
  text-align: center;
  margin-right: 2em;
}

#title {
  font-size: 5em;
  color: white;
  display: inline-block;
}

#main-container {
  width: 45%;
  height: 740px;
  margin: 3em auto;
  clear: both;
}

.card.easy {
  margin: .2em 1.8%;
  width: 13%;
  height: 2.5em;
  border-radius: .2em;
  float: left;
  text-align: center;
  background-color: white;
  font-size: 3em;
}
